body {
    padding: 0;
    margin: 0;
    background: url('/tree/static/images/bg.gif') #ccc;
    font-family: "Helvetica", sans-serif;
}

h1 {
    margin: 0 30px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 48pt;
    position: absolute;
    top: 20px;
    left: 0px;
    color: #666;
}

#content {
    background: #fff;
    width: 800px;
    margin: 20px auto;
    padding: 30px 40px;
    position: relative;
}

#content form {
    margin: 10px 0;
}

#content form label {
    width: 100px;
    display: block;
    float: left;
}

#content input[type="submit"] {
    clear: both;
    margin: 10px 0;
}

#footer {
    background: #eee;
    width: 800px;
    margin: 20px auto;
    padding: 5px 15px;
    position: relative;
    text-align: center;
}

#footer form {
    width: 300px;
    margin: 20px auto;
}

h2 {
    margin: 0 0 20px;
}

table {
    width: 100%;
    margin: 5px 0;
}

th, td {
    padding: 10px;
}

p {
    margin: 1em 0;
}